<html>

<head>
<meta http-equiv-"Content-type" content="text/html; charset=UTF-8" />
<title> {{site.title}} </title>
</head>

<body>

<!--<header> -->
{% include header.html %}
<!--<h1> {{site.h1}} </h1>
<p> {{site.p}}  </p>-->
<!--</header>-->

<main>

<h2> {{site.h2}} </h2>

{{content}} 
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
	    </li>
  {% endfor %}
</ul>

</main>


<!--<footer>-->
<!--{{site.footer}}-->
{% include footer.html %}
<!--</footer>-->

</body>





</html>